*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(162,23,23);
    background: linear-gradient(151deg, rgba(162,23,23,1) 0%, rgba(113,65,40,1) 25%, rgba(84,23,0,1) 33%, rgba(6,7,17,1) 50%);
    background-repeat: no-repeat;
    background-color: #09040F;
}

#menu{
    width: 30px;
    margin-top: -10px;
}

.row{
    --bs-gutter-x: 0;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: #FF9659;
}

.container2{
    max-width: 1280px;
    margin: 0 auto;
}

.box{
    height: 220px;
    background-color: #181628;
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #2B2B2B;
}

iframe{
    width: 620px;
    height: 375px;
}

@media screen and (max-width: 768px){
    .box{
        width: 95vw;
        height: 220px;
        margin: 0 auto;
        margin-bottom: 5px;
    }

    iframe{
        width: 100%;
        height: 200px;
    }

    p{
        text-align: justify;
    }
}



